/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@font-face {
  font-family: 'BebasNeueBold';
  src: url('../src/fonts/BebasNeue\ Bold.otf');
}
@font-face {
  font-family: 'BebasNeueBook';
  src: url('../src/fonts/BebasNeue\ Book.otf');
}
@font-face {
  font-family: 'BebasNeueLight';
  src: url('../src/fonts/BebasNeue\ Light.otf');
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../src/fonts/BebasNeue\ Regular.otf');
}

body {
  margin: 0;
  font-family: 'BebasNeueRegular' ;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-image: url(../src/assets/body-bg.png);
  /* background-color: #242121; */
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}
h1,h2,h3,h4,h5,h6,a,button, input,select,textarea{
  font-family: 'BebasNeueRegular';
}

/* code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
    font-family: 'BebasNeueRegular' !important;
} */
